@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Under Construction</h1>
    <img src="~/Images/website-logo.png" alt="Alternate Text" />
    <h4 class="mt-3">The Recipe Town Coming soon.</h4>
</div>
