@model mvc2025TermProject.Models.ImageAddViewModel

@{
    ViewData["Title"] = "Add Image";
}
<div class=" bg-light border rounded-3 p-5">
<h1>Upload Image</h1>

<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Select Image: </label>
                <input type="file" name="uploadedImage" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AltText" class="control-label"></label>
                <input asp-for="AltText" class="form-control" />
                <span asp-validation-for="AltText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RecipeID" class="control-label"></label>
                <select asp-for="RecipeID" class="form-control" asp-items="ViewBag.RecipeID"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
        <a asp-action="Index" asp-controller="Recipes" class="btn btn-dark btn-secondary m-1" >Back to List</a>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
